$estilos:(
    colorfuente:#f10,
    altura:50px,
    ancho:100px,
    color:#fff,
    alineacion:center,
    margin:5px,
    fuente:1rem,
);
.divmap {
    background-color: map-get($estilos, color);
    text-align: map-get($estilos, alineacion);
    margin: map-get($estilos, margin);
    font-size:map-get($estilos, fuente);
    width: map-get($estilos, ancho );
    height: map-get($estilos, altura );
    color: map-get($estilos, colorfuente );
  }
  
$redes: (
	1: #51aff8,
	2: #2956a3,
	3: #ce1312,
);

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }
 .cajax{
    background-color: rgb(110, 110, 161);
    @include sizes(100px,50px);
    color: antiquewhite;
    margin:5px;
}
@each $name, $color in $redes {
    .caja--#{$name} {
        color: $color;
        @extend .cajax;
        }
    }
   