@media only screen and (max-width:480px) {
    .grid-area{
        grid-template-areas: 
        "nav"
        "main"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        
        .main {
            flex-direction: column;
            .div__texto {
                width: 100%;
                .titulo__secundario {
                    font-size: 1.4em;
                    }
            }
            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 5px;
                margin-right: 0px;
                margin-bottom: 5px;
                .card__piefoto{
                    margin: 5px;
                    }
                    .card__img{
                        height: 250px;
                        width: 250px;
                        }
                }
            
            }
    }
}