@media only screen and (max-width:480px) {
    .gridcontainercontacto{
        grid-template-areas: 
        "nav"
        "form"
        "footer";
     grid-template-columns: 100%;
     grid-template-rows:auto auto auto;
        .titulo__secundarioform{
        font-size: 16px;
        margin: 20px 0px;
        }
        .flex-container {
        flex-direction: column;
        width: auto;
            .form {
            min-width: auto;
            padding: 0px;
            }
            .form-img {
            height: 250px;
            width: 250px;
            }
            .form__inputenviar {
            font-size: 1em;
             }
            .textarea::placeholder{
                font-size: 16px;
            }
        }
    }
}