@media only screen and (max-width:480px){
    nav{
        flex-direction: column;
        justify-content: center;
        .nav__logo--imagen{
            margin-top: 5px;
        }
        .nav__links {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            .nav__item {
                margin:0px 0px;
                .nav__link {
                    font-size: 10px;
                }
            }
        }
        .search {
            height: 30px;
            margin-bottom: 4px;
            margin-top: 2px;
            font-size: 0.9em;
            &:focus{
                transition: all 0s;
            }
        }
        
    }
}